/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";


s|View{
	backgroundAlpha: 0;
}

s|IconItemRenderer{
	backgroundAlpha: 0;
}

.itemName{
	fontFamily: "Lions Den";
	fontSize: 30;
	paddingLeft:58;
	paddingTop: 43;
	
}

#itemLabel {
	fontFamily: "Lions Den";
	fontSize: 40;
	
	
}

.locationName{
	fontFamily: "Trade Gothic LT Std";
	fontWeight: bold;
	fontSize: 18;
	
}

#storeName{
	fontFamily: "Trade Gothic LT Std Cn";
	fontWeight: bold; 
	fontSize: 22;
	color: #000000;
	fontWeight: bold;
}

#storeAddress, #storeCityStateZip, #storeLat, #storeLon{
	fontFamily: "Trade Gothic LT Std";
	fontSize: 20;
	color: #000000;
}

#matchNotes{
	fontFamily: "Lions Den";
	fontSize: 35;
	paddingLeft:50;
	paddingRight:20;
	color: #383539;
}

s|ViewMenu{
	skinClass: ClassReference("skins.DetailViewMenuSkin");
}

#titleLabel{
	fontFamily:"Liberator";
	fontSize:40;
	fontWeight:"normal";
	textAlign: center;
	
}

.userInputtedInfo{
	fontFamily: "Lions Den";
	fontSize: 40;
}

.appProvidedText{
	fontFamily: "Trade Gothic LT Std";
	fontSize: 40;
}

#noItemsLabel{
	fontFamily: "Trade Gothic LT Std";
	fontSize: 40;
}