/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "components.*";


s|View{
	backgroundAlpha: 0;
}

s|IconItemRenderer{
	backgroundAlpha: 0;
}

.itemName{
	fontFamily: "Lions Den";
	fontSize: 30;
	paddingLeft:58;
	paddingTop: 43;
	
}

#itemLabel {
	fontFamily: "Lions Den";
	fontSize: 40;
	
	
}

.locationName{
	fontFamily: "Trade Gothic LT Std";
	fontWeight: bold;
	fontSize: 18;
	
}

#storeName{
	fontFamily: "Trade Gothic LT BC";
	fontWeight: bold; 
	fontSize: 22;
	color: #000000;
	fontWeight: bold;
}

#storeAddress, #storeCityStateZip, #storeLat, #storeLon{
	fontFamily: "Trade Gothic LT Std";
	fontSize: 20;
	color: #000000;
}

#matchNotes{
	fontFamily: "Lions Den";
	fontSize: 35;
	paddingLeft:50;
	paddingRight:20;
	color: #383539;
}



#titleLabel{
	fontFamily:"Liberator";
	fontSize:40;
	fontWeight:"normal";
	textAlign: center;
	
}

.userInputtedInfo{
	fontFamily: "Lions Den";
	fontSize: 40;
}

.appProvidedText{
	fontFamily: "Trade Gothic LT Std";
	fontSize: 40;
}

#noItemsLabel{
	fontFamily: "Trade Gothic LT Std";
	fontSize: 40;
}

#filterBtn{
	skinClass: ClassReference("skins.FilterButtonSkin")
}

s|ViewNavigatorApplication{
	skinClass: ClassReference("skins.AppSkin");
}

s|ViewMenu{
	skinClass: ClassReference("skins.DetailViewMenuSkin");
}

s|ViewMenuItem{
	skinClass: ClassReference("skins.DetailsViewMenuItemSkin");
}

s|TextInput{
	skinClass: ClassReference("skins.FormTexInputSkin");
}

#persistentTabMenu s|Button{
	skinClass: ClassReference("skins.DetailsViewMenuItemSkin");
}

#directionsBtn{
	skinClass: ClassReference("skins.DirectionsButtonSkin");
}

#locationButton{
	skinClass: ClassReference("skins.EditLocationButtonSkin");
}

#emailButton{
	skinClass: ClassReference("skins.FormButtonSkin");	
}	

components|AcceptPopUp{
	skinClass: ClassReference("skins.AlertSkin");
}

components|AcceptPopUp #okButton{
	skinClass: ClassReference("skins.AlertOKButtonSkin");
}

components|AcceptPopUp #cancelButton{
	skinClass: ClassReference("skins.AlertCloseButtonSkin");
}

components|Alert {
	skinClass: ClassReference("skins.AlertSkin");
}

components|Alert #okButton{
	skinClass: ClassReference("skins.OkButtonSkin");
}

components|ChangeLocationButton #icon{
	skinClass: ClassReference("skins.ChangeLocationButtonSkin");
}
components|ItemNavigator s|Button{
	skinClass: ClassReference("skins.BannerButtonSkin");
}
components|Location{
	skinClass: ClassReference("skins.FilterButtonSkin");
}
components|NotePad #contentArea{
	skinClass: ClassReference("skins.NoteSkin");
}
components|PhotoButton{
	skinClass: ClassReference("skins.EditButtonSkin");
}
components|StartingNotice #closeButton{
	skinClass: ClassReference("skins.OkButtonSkin");
}
components|WriteButton {
	skinClass: ClassReference("skins.EditButtonSkin");
}

